.container{
    display: flex;

    @media only screen and (max-width: 760px) {
        display:block;
  }
}

.sidebar{
    width: 16%;
   
    height: 100vh;
    background:#f5f6fa;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   


 @media only screen and (max-width: 760px) {
      display: none;
}
}

.render_body{
    width: 84%;
    padding: 10px;
    margin-top: 80px;
   
    overflow: auto; 
   
    @media only screen and (max-width: 760px) {
        width: 100%;
        padding: 0px;
  }
}
